<!DOCTYPE html>
<html>
    <head>
        <title>Jobs</title>
    </head>
    <body>
        <ul>
        {{#each jobs}}
        <li>{{title}} -fcfa  {{salaire}}</li>
        {{/each}}
        </ul>
    </body>
</html>